In [451]:
import pandas as pd
from datetime import datetime

In [566]:
def Nao(x):
    if x == None:
        return 'Nao'
    else:
        return x

hist = pd.read_excel('Excel/Histórico.xlsx')
cons = pd.read_excel('Excel/Consultas.xlsx')
cons.set_index('Nome',inplace=True)
hist.set_index('Nome',inplace=True)
nome='Jorge'
row = cons.iloc[0]
row = dict(row,sort = True)
cons = cons.drop(nome)
row = pd.DataFrame(row,index =  [0])
row['Nome'] = nome
row['Enviado']= 'Nao'
row

In [639]:
hist = pd.read_excel('Excel/Histórico.xlsx')
cons = pd.read_excel('Excel/Consultas.xlsx')
cons.set_index('Nome',inplace=True)
cons

                                  E-mail  Dia  Mes   Ano   Horario   Medico
Nome
Jorge          koiseroverbr694@gmail.com    1    8  2019  10:00:00  Luciano
Armando     lucas.barbosa.0899@poli.ufrj    5    8  2019  11:00:00    Katia
Aristhenes  lucas.barbosa.0899@gmail.com    6    8  2019  11:30:00   Marcio
Leila          koiseroverbr694@gmail.com    7    8  2019  12:00:00  Claudio

In [631]:
hist

,E-mail,Dia,Mes,Ano,Horario,Medico,Enviado
Nome,,,,,,,
Jose,lucas.barbosa.0899@gmail.com,31,8,2019,08:30:00,Katia,Sim
Luccas,lucas.barbosa.0899@poli.ufrj.br,31,8,2019,09:00:00,Marcio,Sim
Ana,lucas.barbosa.0899@gmail.com,25,8,2019,09:30:00,Claudio,Nao
Luiza,lucas.barbosa.0899@gmail.com,26,8,2019,10:00:00,Luciano,Nao
Jorge,koiseroverbr694@gmail.com,27,8,2019,10:30:00,Jorge,Nao
Clara,lucas.barbosa.0899@gmail.com,28,8,2019,11:00:00,Katia,Nao
Armando,lucas.barbosa.0899@poli.ufrj,29,8,2019,11:30:00,Marcio,Nao
Aristhenes,lucas.barbosa.0899@gmail.com,30,8,2019,12:00:00,Claudio,Nao
Leila,koiseroverbr694@gmail.com,31,8,2019,12:30:00,Luciano,Nao
Ana,lucas.barbosa.0899@poli.ufrj.br,31,7,2019,09:00:00,Marcio,Nao
Luiza,lucas.barbosa.0899@gmail.com,1,8,2019,09:30:00,Claudio,Nao